<footer class="bg-white py-4">
    <div class="container-fluid">
        <div class="row text-md-left">
            <div class="col-12 col-md-4">
                <h5><b>Acerca de la pagina</b></h5>
                <p>Velit velit do minim officia velit labore velit adipisicing occaecat.</p>
            </div>
            <div class="col-12 col-md-4">
                <h5>Redes sociales</h5>
                <a href="#" class="me-2"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="me-2"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="me-2"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="me-2"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <div class="col-12 col-md-4">
                <h5>Contactanos</h5>
                <a href="mailto:tienda@tienda.com">tienda@tienda.com</a>
                <br>
                <a href="tel:+584121234567">+58 412 123-4567</a>
                <p>Nueva Esparta, Venezuela</p>
            </div>
        </div>
    </div>
</footer>